{
  "all": true,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "**/*.test.js"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "check-coverage": true,
  "branches": 100,
  "function": 100,
  "lines": 100,
  "statements": 100
}
